<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  {% include header.html %}

<main class="page-content" >
<div class="wrapper">
    {{content}}

    <table>
    {% for paper in site.data.papers %}
      <tr>
        <td><b>{{ paper.name }}</b></td>
        <td>
            <a href="{{ paper.link }}">
          {{ paper.link }}
        </a></td>
        <td>
            {{ paper.writers }}
        </td>
        <td>
            {{ paper.year }}
        </td>
    </tr>
    {% endfor %}
    </table>
</div>


</main>


  {% include footer.html %}
</html>
